go 1.21.6

use (
	./buffered-channels
	./challenge-1
	./channel-select
	./dining-philosophers-problem
	./first-example
	./producer-consumer
	./second-example
	./simple-channels
	./sleeping-barber-problem
)
